@page
@model Bookware.Pages.Education_Pages.RemoveEduSubModel
@{
}

<h1>RemoveEduSub</h1>

<div class="card bg-yellow">
    <div class="card-header">
        <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    </div>
    <div class="card-body">
        <div class="align-content-center">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form method="post">
                        @if (!ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <p><i class="bi bi-exclamation-triangle-fill"></i> Error!</p>
                                <div asp-validation-summary="All"></div>
                            </div>
                        }
                        <div class="form-group form-floating mb-3">
                            <input asp-for="EduSub!.EduId" class="form-control" type="text" placeholder="@Html.DisplayNameFor(k => k.EduSub!.EduId)" readonly />
                            <label asp-for="EduSub!.EduId">Education Id</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <select class="form-select" asp-for="EduSub!.SubjectId" asp-items="Model.Options">
                                <option value="">Select a Subject</option>
                            </select>
                            <label asp-for="EduSub!.SubjectId">Subject</label>
                            <span asp-validation-for="EduSub!.SubjectId" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <input type="submit" value="Remove" class="btn btn-success" />
                            <a class="btn btn-danger" asp-page="AllEducations">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>

    </script>
}