@page
@model Bookware.Pages.Order_Pages.OrderItemsModel
@{
    ViewData["Title"] = "Order Items";
}

<div class="card bg-yellow">
    <div class="card-header">
        <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    </div>
    <div class="card-body">
        <div class="align-content-center">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form method="post">
                        @if (!ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <p><i class="bi bi-exclamation-triangle-fill"></i> Error!</p>
                                <div asp-validation-summary="All"></div>
                            </div>
                        }
                        <div class="form-group form-floating mb-3">
                            <input asp-for="ClassId" class="form-control" type="text" placeholder="@Html.DisplayNameFor(k => k.ClassId)" disabled/>
                            <label asp-for="ClassId">Class Id</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <input asp-for="ClassName" class="form-control" type="text" placeholder="@Html.DisplayNameFor(k => k.ClassName)" disabled/>
                            <label asp-for="ClassName">Class Id</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <select class="form-select" asp-for="Order!.CbId" asp-items="Model.Options">
                                <option value="">Select a book</option>
                            </select>
                            <label asp-for="Order!.CbId">Book</label>
                            <span asp-validation-for="Order!.CbId"></span>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <input asp-for="Order!.Amount" class="form-control" type="number" placeholder="@Html.DisplayNameFor(k => k.Order!.Amount)"/>
                            <label asp-for="Order!.Amount">Number of books</label>
                        </div>
                        <div class="form-group mb-3">
                            <input type="submit" value="Order" class="btn btn-success" />
                            <a class="btn btn-danger" asp-page="OrderClasses">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>