@page
@model Bookware.Pages.OrderModel
@{
    ViewData["Title"] = "Order for Classes";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>

<div class="table-responsive">
    <table class="table table-hover table-bordered caption-top text-center">
        <caption>List of Classes</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col" class="col-1">Id</th>
                <th scope="col">Class name</th>
                <th scope="col" class="col-1"></th>
            </tr>
        </thead>
        <tbody class="table-yellow">
            @if (Model.classes != null)
            {
                @foreach (var item in Model.classes)
                {
                    <tr>
                        <td>@item!.ClassId</td>
                        <td>@item!.ClassName</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">Actions</button>
                                <ul class="dropdown-menu">
                                    <li><a asp-page="Orders_Detail" asp-route-id="@item.ClassId" class="dropdown-item"><i class="bi bi-journal-text"></i> Details</a></li>
                                    <li><a asp-page="OrderItems" asp-route-id="@item.ClassId" class="dropdown-item"><i class="bi bi-cart-plus"></i> Order Items</a></li>
                                </ul>
                            </div>                                                                       
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>