@page
@model Bookware.Pages.OrderModel
@{
    ViewData["Title"] = "Order Information";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>

<a class="btn btn-dark" asp-page="/Order_Pages/OrderItems"><i class="bi bi-plus"></i> Order Items</a>