@page
@model Bookware.Pages.Class_Pages.AllClassesModel
@{
    ViewData ["Title"] = "Classes";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>

<a class="btn btn m-2 " asp-page="/Class_Pages/CreateClass"><i class="bi bi-plus-circle"></i>Create New Class</a> 

<div class="table-responsive">
    <table class="table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Class name</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>