@page
@model Bookware.Pages.Class_Pages.AllClassesModel
@{
    ViewData ["Title"] = "Classes";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>

<a class="btn btn-secondary m-2" asp-page="/Class_Pages/CreateClass"><i class="bi bi-plus-circle"></i> Create New Class</a> 

<div class="table-responsive">
    <table class="table table-hover table-bordered table-striped caption-top align-middle">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Class name</th>
                <th scope="col" class="text text-center">Funktioner</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.classes != null)
            {
                @foreach (var item in Model.classes)
                {
                    <tr>
                        <td style="width:5%" colspan="1">@item!.ClassId</td>
                        <td style="width:80%" colspan="1">@item!.ClassName</td>
                        <td class="d-flex flex-row justify-content-center gap-2" colspan="1">
                            <a asp-page="ClassDetails" asp-route-id="@item.ClassId" class="btn btn-primary"><i class="bi bi-list"></i></a>
                            <a asp-page="UpdateClass" asp-route-id="@item.ClassId" class="btn btn-primary"><i class="bi bi-pen"></i></a>
                            <form asp-page-handler="Delete" method="post" asp-route-id="@item.ClassId" onclick="return confirm('Are you sure you want to delete?')">
                                <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>