@page
@model Bookware.Pages.Class_Pages.ClassUnassignTeacherModel

@{
}

<h1>Unassign Teacher</h1>

<div class="card bg-yellow">
    <div class="card-header">
        <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    </div>
    <div class="card-body">
        <div class="align-content-center">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form method="post">
                        <div class="form-group form-floating mb-3">
                            <input asp-for="TeacherClass!.ClassId" class="form-control" type="number" placeholder="@Html.DisplayNameFor(c => c.Class!.ClassId)" readonly />
                            <label asp-for="Class!.ClassId">Class Id</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <input asp-for="Class!.ClassName" class="form-control" type="text" placeholder="@Html.DisplayNameFor(c => c.Class!.ClassName)" readonly />
                            <label asp-for="Class!.ClassName">Class name</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <select class="form-select" asp-for="TeacherClass!.TeachEduId" asp-items="Model.Options">
                                <option value="">Select a Teacher</option>
                            </select>
                            <label> Teacher with EduSub </label>
                        </div>
                        <div class="form-group mb-3">
                            <input type="submit" value="Unassign" class="btn btn-success" />
                            <a class="btn btn-danger" asp-page="/Class_Pages/AllClasses">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
