@page
@model Bookware.Pages.Class_Pages.UpdateClassModel
@{
    ViewData["Title"] = "Update Class";
}

<div class="card bg-yellow">
    <div class="card-header">
        <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    </div>
    <div class="card-body">
        <div class="align-content-center">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form method="post">
                        @if (!ModelState.IsValid)
                        {
                            <div>
                                <p><i class="bi bi-exclamation-triangle-fill"></i> Error!</p>
                                <div asp-validation-summary="All"></div>
                            </div>
                        }
                        <div class="form-group form-floating mb-3">
                            <input asp-for="_Class!.ClassId" class="form-control" type="text" placeholder="@Html.DisplayNameFor(k => k._Class!.ClassId)" readonly>
                            <label asp-for="_Class!.ClassId">Id</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <input asp-for="_Class!.ClassName" class="form-control" type="text" placeholder="@Html.DisplayNameFor(k => k._Class!.ClassName)" />
                            <label asp-for="_Class!.ClassName">Title</label>
                            <span asp-validation-for="_Class!.ClassName" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <input type="submit" value="Update" class="btn btn-success" />
                            <a class="btn btn-danger" asp-page="/Class_Pages/AllClasses">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>