@page
@model Bookware.Pages.Subject_Pages.AllSubjectsModel
@{
    ViewData["Title"] = "All Subjects";
}
<h1 class=" display-4 text-center">@ViewData["Title"]</h1>

<p><a asp-page="AddSubject" class="btn btn-dark"><i class="bi bi-plus"></i> Add Subject</a></p>

<div class="table-responsive">
    <table class="table table-bordered table-hover caption-top text-center">
        <caption>List of Subjects</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col" class="col-1"></th>
            </tr>
        </thead>
        <tbody class="table-yellow">
            @if (Model.Subjects != null)
            {
                @foreach(var item in Model.Subjects)
                {
                    <tr>
                        <td>@item!.SubjectId</td>
                        <td>@item!.SubjectName</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">Actions</button>
                                <ul class="dropdown-menu">
                                    <li><a asp-page="SubjectDetails" asp-route-id="@item.SubjectId" class="dropdown-item"><i class="bi bi-journal-text"></i> Details </a></li>
                                    <li><a asp-page="EditSubject" asp-route-id="@item.SubjectId" class="dropdown-item"><i class="bi bi-pen"></i> Edit</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <form asp-page-handler="Delete" method="post" asp-route-id="@item.SubjectId" onclick="return confirm('Are you sure you wan to delete?')">
                                            <button class="dropdown-item text-danger"><i class="bi bi-trash"></i> Delete</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
