@page
@model Bookware.Pages.Book_Pages.AllBooksModel
@{
    ViewData["Title"] = "All Books";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>

<a class="btn btn-dark m-2" asp-page="/Book_Pages/CreateBook"><i class="bi bi-plus"></i>Add new</a>

<div class="table-responsive">
    <table class="table table-hover table-bordered caption-top text-center">
        <caption>List of Books</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Year</th>
                <th scope="col" class="col-1"></th>
            </tr>
        </thead>
        <tbody class="table-yellow">
            @if (Model.Books != null)
            {
                @foreach (var item in Model.Books)
                {
                    <tr>
                        <td>@item!.BookId</td>
                        <td>@item!.Title </td>
                        <td>@item!.Author</td>
                        <td>@item!.Year</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    Actions
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a asp-page="BookDetails" asp-route-id="@item.BookId" class="dropdown-item"><i class="bi bi-journal-text"></i> Details</a></li>
                                    <li><a asp-page="UpdateBook" asp-route-id="@item.BookId" class="dropdown-item"><i class="bi bi-pen"></i> Edit</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <form asp-page-handler="Delete" method="post" asp-route-id="@item.BookId" onclick="return confirm('Are you sure you want to delete?')">
                                            <button class="dropdown-item text-danger"><i class="bi bi-trash"></i> Delete</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>