@page
@model Bookware.Pages.Student_Pages.AllStudentsModel
@{
    ViewData["Title"] = "All Students";
}

<div class="text-cente">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Adress</th>
                <th scope="col">Semester</th>
                <th scope="col">Semester start</th>
                <th scope="col">ClassId</th>
            </tr>
        </thead>



    </table>

</div>