@page
@model Bookware.Pages.Student_Pages.EditStudentsModel
@{

}

<h1>Update</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>

            <div class="form-group form-floating mb-3">
                <input asp-for="Student!.StudentId" class="form-control" type="text" placeholder="@Html.DisplayNameFor(student => student.Student!.StudentId)" disabled />
                <label asp-for="Student!.StudentId">ID</label>
            </div>

            <div class="form-group">
                <input asp-for="Student!.StudentId" class="form-control" type="text" hidden />
            </div>

            <div class="form-group form-floating mb-3">
                <input asp-for="@Model.Student!.StudentName" class="form-control" type="text" placeholder="@Html.DisplayNameFor(teacher => teacher.Student!.StudentName)" />
                <label asp-for="@Model.Student!.StudentName"></label>
                <span asp-validation-for="Student!.StudentName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <input type="submit" value="Update" class="btn btn-success" />
                <a class="btn btn-danger" asp-page="AllStudents">Cancel</a>
            </div>
        </form>
    </div>
</div>


