@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to Bookware";
    ViewData["Background-image"] = "bg-image";
}

<div class="text-center">
    <h1 class="display-3 zealand-header">@ViewData["Title"]</h1>
</div>
