<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookware</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bookware.styles.css" asp-append-version="true" />
</head>
<body class="bg-yellow @ViewData["Background-image"]">
    <header>
        <nav class="navbar navbar-dark bg-dark fixed-top shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <div class="container">
                        <div class="row">
                            <svg class="icon baseline col m-auto" viewBox="0 0 147 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M143.639 21.262C143.639 16.127 140.922 12.9971 136.919 12.9971C132.917 12.9971 130.199 16.127 130.199 21.3109C130.199 26.8372 132.966 29.7226 136.919 29.7226C140.922 29.7226 143.59 26.8372 143.639 21.262ZM147 0.453125V32.5781H143.392V29.1501C141.788 31.5987 139.332 33.0678 135.924 33.0678C129.659 33.0678 126 27.9258 126 21.3638C126 14.8506 129.659 9.75752 135.924 9.75752C139.181 9.75752 141.637 11.0798 143.241 13.3325V0.453125L147 0.453125ZM123.48 33.0676H119.774V14.0039L108.706 14.0039V33.0676H105V10.4882L123.48 10.4882V33.0676ZM96.6016 24.1937V23.0322H91.1553C88.3367 23.0322 86.5215 24.1473 86.5215 26.5167C86.5215 29.0255 88.5278 29.7224 90.5345 29.7224C93.6876 29.7224 96.6016 27.8176 96.6016 24.1937ZM100.802 10.4882V32.5831H97.2548V29.5305C95.6997 31.8563 93.3671 33.0676 90.1111 33.0676C85.3487 33.0676 83.1621 30.1604 83.1621 26.4778C83.1621 21.8749 86.7096 19.646 91.6176 19.646H97.1576V13.9284L83.9882 13.9284V10.4882L100.802 10.4882ZM80.6384 29.6373V33.0678H75.7752C73.4172 33.0678 72.2383 31.8746 72.2383 29.4884V0.453125L75.9225 0.453125V29.6373L80.6384 29.6373ZM64.6823 21.2621C64.6823 16.127 61.9646 12.9971 57.9622 12.9971C53.9599 12.9971 51.2422 16.127 51.2422 21.311C51.2422 26.8371 54.0093 29.7226 57.9622 29.7226C61.9646 29.7226 64.6329 26.8371 64.6823 21.2621ZM68.0412 10.1439V32.5758H64.4328V29.1323C62.8289 31.5919 60.3228 33.0677 57.0149 33.0677C50.5994 33.0677 47.041 27.9024 47.041 21.3108C47.041 14.7681 50.75 9.65201 57.0149 9.65201C60.3727 9.65201 62.8289 11.0294 64.4328 13.4399V10.1439L68.0412 10.1439ZM28.5605 18.851H41.1607C40.8654 15.1258 38.1582 12.9971 34.9097 12.9971C31.563 12.9971 28.8559 15.2709 28.5605 18.851ZM28.1549 21.8517C28.3027 26.6236 30.8659 29.772 34.9079 29.772C37.2736 29.772 39.5411 28.6895 41.0691 25.7379L43.9774 27.4105C42.3507 30.4605 39.4918 33.0677 34.9079 33.0677C28.2534 33.0677 24.3594 27.9024 24.3594 21.3597C24.3594 15.0141 28.007 9.65201 34.5626 9.65201C41.4142 9.65201 44.5196 14.7681 44.5196 20.4745V21.8517L28.1549 21.8517ZM24.3602 29.3887V33.0678L0.546868 33.0678L0.546868 28.7426L19.7864 4.182L0 4.13228L0 0.453125L24.3105 0.453125V4.7289L4.97153 29.3887L24.3602 29.3887Z" fill="white"></path>
                            </svg>
                            <p class="col m-auto p-0">Bookware</p>
                        </div>
                    </div>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Book_Pages/AllBooks">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Teacher_Pages/AllTeachers">Teachers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Education_Pages/AllEducations">Educations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Subject_Pages/AllSubjects">Subjects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Student_Pages/AllStudents">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Class_Pages/AllClasses">Classes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main class="pb-3">
            @RenderBody()        
        </main>
    </div>
    <footer class="footer bg-dark text-light">
        <div class="container">
            <i class="bi bi-c-circle"></i> 2022 - Bookware - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>