@font-face {
    font-family: 'Zealand';
    src: url('../zealanddisplay-regular.woff') format('woff');
}

@font-face {
    font-family: 'Zichtbaar';
    src: url('../zichtbaar-regular.woff') format('woff');
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Zichtbaar, 'Times New Roman', Times, serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 4.5rem;
    margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Zealand, 'Times New Roman', Times, serif;
}

.font-zealand {
    font-family: Zealand, 'Times New Roman', Times, serif !important;
}

.font-zichtbaar {
    font-family: Zichtbaar, 'Times New Roman', Times, serif !important;
}

.zealand-header {
    -webkit-text-stroke: .025em black !important;
    color: #fff !important;
}

tbody, td, tfoot, th, thead, tr {
    border-width: 2px !important;
}

svg {
    height:1rem;
    width:1rem;
}

.baseline {
    top: .120em;
    position: relative;
}

.icon {
    display: inline-flex;
    align-self: center;
}

.bg-yellow {
    background-color: #fff387;
}

.bg-image {
    background-image: url('../images/books.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left; 
}

.table-yellow {
    --bs-table-bg: #fff387;
    --bs-table-striped-bg: #ede27e;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #dcd170;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #ede27e;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #000;
}

.bg-yellow {
    background-color: #fff387 !important;
}


.table > :not(:last-child) > :last-child > * {
    border-bottom-color: inherit;
}

.nav-link {
    padding-right: var(--bs-gutter-x,.75rem) !important;
    padding-left: var(--bs-gutter-x,.75rem) !important;
}