@page
@model Bookware.Pages.Teacher_Pages.EditTeachersModel
@{

}

<h1>Create</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>

            @*<div class="form-group">
                <label asp-for="@Model.Teacher!.TeacherId" class="control-label"></label>
                <input asp-for="@Model.Teacher!.TeacherId" class="form-control" />
            </div>*@

            <div class="form-group">
                <label asp-for="@Model.Teacher!.Name" class="control-label"></label>
                <input asp-for="@Model.Teacher!.Name" class="form-control" />
                
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-danger" asp-page="AllTeachers">Cancel</a>
            </div>
        </form>
    </div>
</div>