@page
@model Bookware.Pages.Education_Pages.RemoveTeacherEduModel
@{
}

<h1>RemoveEduSub</h1>

<div class="card bg-yellow">
    <div class="card-header">
        <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    </div>
    <div class="card-body">
        <div class="align-content-center">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form method="post">
                        <div class="form-group form-floating mb-3">
                            <input asp-for="Teacher!.TeacherId" class="form-control" type="number" placeholder="@Html.DisplayNameFor(t => t.Teacher!.TeacherId)" readonly />
                            <label asp-for="Teacher!.TeacherId">Teacher Id</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <input asp-for="Teacher!.Name" class="form-control" type="text" placeholder="@Html.DisplayNameFor(t => t.Teacher!.Name)" readonly />
                            <label asp-for="Teacher!.Name">Name</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <select class="form-select" asp-for="TeacherEdu!.EduSubId" asp-items="Model.EduSubs"></select>
                        </div>
                        <div class="form-group mb-3">
                            <input type="submit" value="Remove" class="btn btn-success" />
                            <a class="btn btn-danger" asp-page="/Teacher_Pages/AllTeachers">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>